*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #e9e7e7;
}
/* .h-2nd-color{
    color: rgb(4, 238, 238);
} */
.h-color{
    color: brown;
}
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 900;
    z-index: 2;
    /* background: rgba(177, 173, 173,.1); */
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;    
    width: 100%;
    z-index: -1;
    opacity: 0.7 ;
    
}
#logo{
    margin: 0px 27px;
}
#logo img{
    height: 43px;
    margin: 25px 0px;
    filter: brightness(100);
}
/* list styling */
#navbar ul{
    display: flex;
    margin: 39px;
}
#navbar ul li{
    list-style: none;
    /* padding: 2px 2px; */
    font-size: 1.5rem;
}
#navbar ul li a{
    color: white;
    padding: 2px 24px;   
    list-style: non3;
    font-size: 1.3rem;
    display: block;
    text-decoration: none;
    border-radius: 15px;
    /* transition: 0.5s; */
}
#navbar ul li a:hover{
    color: black;
    background-color:white;
    transform: scale(1.05)
    
    

}
.heading{
    margin-top: 155px;
}
/* home css */
#home{
    display: flex;
    flex-direction: column;
    padding: 2px 200px;
    justify-content: center;
    height: 359px;
    /* position: relative; */
    align-items: center;
    
    
    
}
#home::before{
    content: "";
    background:url(backkk.jpg) no-repeat center center/cover;
    background-color: black;
    
    filter: blur(0.95px);
    position: absolute;
    height: 95%;    
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.90;
}
#home h1{
    color: white;
    text-align: center;
    padding: 22px;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    
}
/* services section */
#services{
    margin: 40px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 0px 34px;
    margin: 0px 10px;
    border-radius: 24px;
    background-color: #f7f4f4;
    transition: 0.5s;
   
    
}
#services img{
    height: 125px;
    margin: auto;
    display: block;
}
#services .box p{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}
#services .box h2{
    font-size: 2.3rem;
}
.box:hover{
    transform: scale(1.02);
}

/* utility classes */
.h-primary{
    font-size: 3.3rem;
    padding: 12px; 
    font-family: 'Bree Serif', serif;

}
.h-secondary{
    font-size: 2.8rem;
   padding-bottom: 12px;
    font-family: 'Bree Serif', serif;

}
.btn{
    padding: 6px 22px;
    background-color: brown;
    border: 2px solid white;
    color: white;
    margin: 22px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}
/* Clients section */
#client-section{
    height: 392px;
    position:  relative;
}
#client{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
#client img{
   height: 50px;
}
.client-item{
    padding: 22px;
}
.kfc{
    width: 121px;
    height: 98px!important;
}
.zomato{
    width: 136px;
    height: 36px!important;
}
.burger-king{
    width: 116px;
    height: 110px!important;
}
.star-buck{
    width: 235px;
    height: 79px!important;
}
.swigi{
    width: 179px;
    
}
.client-item.one img{
    height: 22px;
    
}
#client-section::before{
    content: "";
    position: absolute;
    background-color: lightblue;
    width: 150%;
    height: 79%;
    opacity: 0.65;
    z-index: -1 ;
}
#contact{
    position: relative;
    background: lightblue;
    z-index: 1;

}
#contact::before{
    content: "";
    position: absolute;
    top: 122px;
    z-index: -1;
    /* opacity: 0.5; */
    background: url(5138237-removebg-preview.png) no-repeat center center/cover; 
    width: 30%; 
    height:50%;   
}
#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}
#btnn{
    margin: 0px;
    margin-top:12px ;
}
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
}
.inp{
    width: 500px;
    margin-top: 8px;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 15px;
}
.text-area{
    margin-top: 8px;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 15px;
}

/* copyright */
footer{
    background-color: black;
    color: white;
    padding: 7px 20px;
}
